<app-header [statusUser]="statusUser"></app-header>
<h1>Accueil</h1>
<h2>Liste des acticles :</h2>
<div class="listOfArticles">
  @for(article of articles; track $index){
  <app-article-component
    [article]="article"
    (notifyLike)="handleNotificationLike($event)"
  ></app-article-component>
  <!-- <a [routerLink]="['/article', article.id]">{{ article.title }}</a> -->
  }
</div>

<div>
  <h2>Dernier Like :</h2>
  <p>{{ lastArticleLiked }}</p>
</div>

<a [routerLink]="['/contact']">Contactez nous !</a>
<a [routerLink]="['/Connectez-vous !']">Connectez-vous </a>
